@import 'utility';
@import url('https://fonts.googleapis.com/css?family=Merriweather');

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  font-family: 'Merriweather';
  background-color: #d682e0;
  text-shadow: 2px black;
  color: #ffffff;
  display: flex;
  justify-content: center;
}
table {
  margin: auto;
  border: 1px solid black;
}
td {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  text-align: center;
}
.unrevealed {
  background-color: #4286f4
}
.bomb {
  background-color: red;
}
